.icone_voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
}
.logo {
    background: url('../img/logo.png') no-repeat center;
    background-size: cover;
}